{% extends 'layout.html.twig' %}

{% set bodyClass = "sign-in-body" %}

{% block body %}
    {% block header %}
    {% endblock %}

    {% block full_content %}
        {% block top_content %}{% endblock %}

        <section class="sign-in-status">
            <div class="sign-in-icon-wrap sign-in-right"><i class="es-icon es-icon-done"></i></div>
            <p class="right-tip sign-in-status-tip">{{ message }}</p>
        </section>

        {% block bottom_content %}{% endblock %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
{% endblock %}