{% extends 'activity/content-layout.html.twig' %}
{% block head_scripts %}
    {{ parent() }}
  <base target="_blank">
{% endblock %}

{% do script(['libs/perfect-scrollbar.js','app/js/activity/text/index.js']) %}
{% set disableCopy = 0 %}
{% block body %}
  <div class="iframe-parent-content iframe-parent-full" id="text-activity" data-finish-time="{{ text.finishDetail }}" data-disable-copy="{{ disableCopy }}">
    <div class="text-activity-content">{{activity.content|raw}}</div>
  </div>
{% endblock %}