<div class="form-group">
  {% if currentMenu.mode|default('') == 'capsules' and capsule|default(false) %}
    {% for m in sub_permissions(permission(capsule).code,'topBtn') %}
      {{ self_macro.menu_link_html(_context, m, 'btn btn-success', 'span') }}
    {% endfor %}
  {% else %}
    {% for m in sub_permissions(currentMenu.code,'topBtn') %}
      {{ self_macro.menu_link_html(_context, m, 'btn btn-success', 'span') }}
    {% endfor %}
  {% endif %} 
</div>