<div class="aside-department-list_item js-item-desc clearfix">
  <div class="aside-department-list_item__l fl">
    <div class="aside-department-list_item__label o-ct-empty__label"></div>
  </div>
  <div class="aside-department-list_item__r fl mlm">
    <a href="javascript:;" class="js-user-card fl">
      <div class="o-ct-empty-card"></div>
    </a>
    <div class="pull-left mlm">
      <div class="o-ct-empty_name"></div>
      <div class="o-ct-empty_date"></div>
    </div>
  </div>
</div>