<li class="ct-rank-item ct-rank-item--light">
  <div class="ct-rank-item__l">
    <div class="ct-rank-item__label o-ct-empty__label"></div>
  </div>
  <div class="ct-rank-item__r">
    <div class="pull-left">
      <a class=" js-user-card fl" href="javascript:;">
        <div class="o-ct-empty-card"></div>
      </a>
    </div>
    <div class="pull-left mlm">
      <div class="o-ct-empty_name"></div>
      <div class="o-ct-empty_date"></div>
    </div>
  </div>
</li>