@import './Components/treeview.css';
.list-table .td.operation {
  line-height: 45px;
  height: auto;
  word-break: break-all;
  overflow: hidden;
}

.sync-department-modal  {
  width: 636px;
}

.sync-department-modal .item {
  height: 182px;
  padding: 30px 25px;
  border: 1px solid #f5f5f5; 
  background-color: #f5f5f5;
  cursor: pointer;
  text-align: center;
}

.sync-department-modal .item-wrap {
  margin-top: 15px;
}

.sync-department-modal .item i {
  margin-right: 20px;
  margin-left: 20px;
}

.sync-department-modal .item__bd {
  margin-top: 25px;
  color: #313131;
}

.sync-department-modal .item__ft {
  margin-top: 10px;
}

.sync-department-modal .item.active {
  border: 1px solid #428bca; 
  background-color: rgba(66,139,202,.1);
}

.org-tree {

}

.org-tree__head {
  padding: 16px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #313131;
}

.org-tree__body {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  word-break: break-all;
  word-wrap: break-word;
}

.org-tree-item__body {
}

.org-tree-item__info {
  padding: 16px 0;
}

.org-tree-item__hover {
  padding-top: 10px;
}

.org-tree-item {
  position: relative;
  border-top: 1px solid #C5C5C5;
}

.org-tree-item-icon {
  display: inline-block;
  margin-right: 8px;
}

.org-tree-item-icon {
  cursor: pointer;
}

.member-projectplan-content {
  height: 320px;
  padding: 20px;
  background-color: #F5F5F5;
  overflow: auto;
}

.member-projectplan-content.member-projectplan-content--department {
  padding: 0;
  background-color: #FFFFFF;
}

.member-projectplan-modal__body {
  padding: 0px 20px 20px 20px;
  background-color: #FFFFFF;
  border: 1px solid #E4ECF3;
  border-top: none;
  border-bottom: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.member-projectplan-modal__foot {
  margin-top: 5px;
  padding: 0px 20px 20px 20px;
  background-color: #FFFFFF;
  border-top: none;
  border: 1px solid #E4ECF3;
  border-radius: 2px;
}

.member-projectplan-select {
  margin-top: 20px;
}

.member-projectplan-select__head {
  font-size: 14px;
  color: #313131;
  line-height: 20px;
}

.member-projectplan-content__input-tip {
  margin-top: 90px;
  font-size: 12px;
  color: #919191;
  line-height: 16px;
  text-align: center;
}

.member-projectplan-select__body {
  max-height: 140px;
  padding: 20px;
  margin-top: 20px;
  border: 1px dashed #E1E1E1;
  overflow: auto;

}

.department-select-item__title {
  margin-right: 50px;
  font-size: 14px;
  color: #313131;
  line-height: 20px;
}

.department-select-item__head {
  padding: 10px 20px;
  background-color: #F5F5F5;
.clearfix;
.text-ovf;
}

.department-select-item__select-all {
  float: right;
  font-size: 12px;
  line-height: 20px;
}

.department-select-item__body {
  padding-left: 20px;
}

.department-select-item__checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.select-container-item {
  position: relative;
  display: inline-block !important;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 20px;
  margin-bottom: 5px;
  background: #F5F5F5;
  border-radius: 10px;
  max-width: 190px;
.text-ovf;

}

.select-container__icon-l {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 14px;
}

.select-container__icon-r {
  position: absolute;
  top: 1px;
  right: 6px;
  color: #919191;
}

.select-container-item__text {
  font-size: 12px;
  color: #313131;
  line-height: 12px;
}
.mtxl {margin-top: 30px;}

.mail-template-modal-body{
  max-height: 450px;
  overflow-y: auto;
}

.mail-template-modal-body .template-body {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: auto;
  padding: 4px;
}

#site-logo-container img{
  max-width: 250px;
}

.system-version{
  padding-left: 10px;
}

.system-version .text-center{
  padding-left: 1px;
}

.text-center .info-index-layout{
  padding: 0;
}
