
@font-face {font-family: "es-icon";
  src: url('../fonts/es-icon.eot?t=1502185171899'); /* IE9*/
  src: url('../fonts/es-icon.eot?t=1502185171899#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/es-icon.woff?t=1502185171899') format('woff'), /* chrome, firefox */
  url('../fonts/es-icon.ttf?t=1502185171899') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/es-icon.svg?t=1502185171899#es-icon') format('svg'); /* iOS 4.1- */
}

.es-icon {
  font-family:"es-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.es-icon-search:before { content: "\a002"; }

.es-icon-time:before { content: "\a003"; }

.es-icon-lock:before { content: "\a004"; }

.es-icon-arrowforward:before { content: "\a042"; }

.es-icon-chevronleft:before { content: "\a007"; }

.es-icon-chevronright:before { content: "\a008"; }

.es-icon-my:before { content: "\a005"; }

.es-icon-certificate:before { content: "\a030"; }

.es-icon-post:before { content: "\a041"; }

.es-icon-goal:before { content: "\a031"; }

.es-icon-group_fill:before { content: "\a043"; }

.es-icon-integral:before { content: "\a009"; }

.es-icon-chatcircle:before { content: "\a012"; }

.es-icon-login:before { content: "\a015"; }

.es-icon-minus:before { content: "\a017"; }

.es-icon-help:before { content: "\a013"; }

.es-icon-gift:before { content: "\a018"; }

.es-icon-bonus_points:before { content: "\a019"; }

.es-icon-textsms:before { content: "\a001"; }

.es-icon-wendangkeshi:before { content: "\a014"; }

.es-icon-increase:before { content: "\a010"; }

.es-icon-decrease:before { content: "\a011"; }

.es-icon-people:before { content: "\a000"; }

.es-icon-mail:before { content: "\a006"; }

.es-icon-iccheckcircleblack24px:before { content: "\a020"; }

.es-icon-teaching_management:before { content: "\a022"; }

.es-icon-tree_switcher_close:before { content: "\a023"; }

.es-icon-tree_switcher_open:before { content: "\a024"; }

.es-icon-tree_checkbox:before { content: "\a025"; }

.es-icon-tree_check:before { content: "\a026"; }

.es-icon-dingding:before { content: "\a027"; }

.es-icon-weixin:before { content: "\a028"; }

.es-icon-trophy:before { content: "\a029"; }

.es-icon-person:before { content: "\a032"; }

.es-icon-setting:before { content: "\a033"; }

.es-icon-eventnote:before { content: "\a034"; }

.es-icon-dashboard:before { content: "\a035"; }

.es-icon-department_management:before { content: "\a021"; }

.es-icon-power:before { content: "\a036"; }

.es-icon-notificationson:before { content: "\a037"; }

.es-icon-list_course:before { content: "\a038"; }

.es-icon-list_course_done:before { content: "\a039"; }

.es-icon-more:before { content: "\a040"; }

