{% extends 'activity/content-layout.html.twig' %}

{% block body %}
  <div class="iframe-parent-content ph20 pv20 text-center color-danger">
    {{'lease_course.expired'|trans}}
  </div>
{% endblock %}